html{
  font-size: 100%;
}

.App {
  text-align: center;
  min-width: 4rem;
  max-width: 50rem;
  margin: 0 auto;
}

.vm-container{
  border: 0.1rem solid red;
  margin: 0.5rem;
  display: flex;  
}

.vm-products-container{    
  flex: 4 1 auto;
}

.vm-coins-container{  
  display: flex;
  flex-direction: column;
  min-width: 1rem;
  max-width: 10rem;
  flex: 1 1 auto;

}

.vm-coins-container > .coins_buttons{
  margin: 1rem 0 1rem 0;
}
